In [1]:
import pandas as pd

In [2]:
media = pd.read_hdf('/mnt/gbif/clean_data.h5', 'media_merged_filtered-by-species_350pt')

In [3]:
from parallel_download import download

In [4]:
media.columns.tolist()

['gbifID',
 'format',
 'identifier_media',
 'identifier_obs',
 'eventDate',
 'decimalLatitude',
 'decimalLongitude',
 'taxonID',
 'taxonRank',
 'taxonomicStatus',
 'taxonKey',
 'acceptedTaxonKey',
 'phylumKey',
 'classKey',
 'orderKey',
 'familyKey',
 'genusKey',
 'speciesKey',
 'species',
 'acceptedScientificName',
 'verbatimScientificName',
 'media_count_per_taxonID']

In [5]:
import mimetypes as mt

In [6]:
mt.add_type('image/pjpeg', '.jpg')

In [7]:
media['extension'] = media['format'].map(lambda x: mt.guess_extension(x, strict=False))

In [8]:
media['extension'].value_counts(dropna=False)

.jpg    663805
.png      1991
.gif         7
Name: extension, dtype: int64

In [9]:
errors_df = pd.read_csv('errors.txt', delim_whitespace=True, header=None)
errors_df.columns = ['index']

In [10]:
errors_df

    index
0  309250

In [11]:
media.head()

,gbifID,format,identifier_media,identifier_obs,eventDate,decimalLatitude,decimalLongitude,taxonID,taxonRank,taxonomicStatus,...,classKey,orderKey,familyKey,genusKey,speciesKey,species,acceptedScientificName,verbatimScientificName,media_count_per_taxonID,extension
0,891021265,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,119647,2012-08-31 00:00:00,38.036174,-122.755828,147221,SPECIES,ACCEPTED,...,180.0,1048.0,4812.0,8360956.0,2608086.0,Niebla homalea,Niebla homalea (Ach.) Rundel & Bowler,Niebla homalea,865,.jpg
5,891026285,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,344410,2013-07-23 09:36:00,38.582730,-122.696660,54134,SPECIES,ACCEPTED,...,186.0,1145.0,3286.0,2519084.0,2548311.0,Trametes versicolor,Trametes versicolor (L.) Lloyd,Trametes versicolor,43873,.jpg
6,891026330,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,345889,2013-07-25 19:33:13,43.627681,-72.529947,63274,SPECIES,ACCEPTED,...,186.0,1145.0,3290.0,2519220.0,7241318.0,Ganoderma tsugae,Ganoderma tsugae Murrill,Ganoderma tsugae,6970,.jpg
7,891027410,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,381407,2013-08-19 11:10:07,40.499055,-121.402420,54608,SPECIES,ACCEPTED,...,180.0,1048.0,8305.0,2605402.0,2605405.0,Letharia columbiana,Letharia columbiana (Nutt.) J.W.Thomson,Letharia columbiana,2011,.jpg
8,891027410,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,381407,2013-08-19 11:10:07,40.499055,-121.402420,54608,SPECIES,ACCEPTED,...,180.0,1048.0,8305.0,2605402.0,2605405.0,Letharia columbiana,Letharia columbiana (Nutt.) J.W.Thomson,Letharia columbiana,2011,.jpg

In [12]:
errors_df = media[media.index.isin(errors_df['index'])]

In [13]:
errors_df

,gbifID,format,identifier_media,identifier_obs,eventDate,decimalLatitude,decimalLongitude,taxonID,taxonRank,taxonomicStatus,...,classKey,orderKey,familyKey,genusKey,speciesKey,species,acceptedScientificName,verbatimScientificName,media_count_per_taxonID,extension
309250,3337850793,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,91109248,2021-08-14 15:58:26,60.208622,24.995964,153445,SPECIES,ACCEPTED,...,186.0,1499.0,4186.0,2528397.0,2534205.0,Pholiota squarrosa,Pholiota squarrosa (Vahl) P.Kumm.,Pholiota squarrosa,2287,.jpg

In [14]:
# download_sequential( zip ( media['identifier_media'].to_numpy(), media.index.to_numpy() ) )
download( zip (
    errors_df['identifier_media'].to_numpy(),
    errors_df.index.to_numpy(),
    errors_df['extension'],
), parallel=True )

In [15]:
print('done')

done