In [1]:
import pandas as pd

In [2]:
obs = pd.read_hdf( 'clean_data.h5', 'obs' )

In [3]:
obs.shape

(1426881, 63)

In [4]:
obs.columns.tolist()

['gbifID',
 'identifier',
 'license',
 'modified',
 'references',
 'rightsHolder',
 'occurrenceID',
 'catalogNumber',
 'recordedBy',
 'eventDate',
 'eventTime',
 'year',
 'month',
 'day',
 'verbatimEventDate',
 'countryCode',
 'stateProvince',
 'verbatimLocality',
 'decimalLatitude',
 'decimalLongitude',
 'coordinateUncertaintyInMeters',
 'identificationID',
 'identifiedBy',
 'dateIdentified',
 'taxonID',
 'acceptedNameUsageID',
 'scientificName',
 'phylum',
 'class',
 'order',
 'family',
 'genus',
 'genericName',
 'specificEpithet',
 'taxonRank',
 'taxonomicStatus',
 'publishingCountry',
 'lastInterpreted',
 'issue',
 'mediaType',
 'hasCoordinate',
 'hasGeospatialIssues',
 'taxonKey',
 'acceptedTaxonKey',
 'phylumKey',
 'classKey',
 'orderKey',
 'familyKey',
 'genusKey',
 'speciesKey',
 'species',
 'acceptedScientificName',
 'verbatimScientificName',
 'lastParsed',
 'repatriated',
 'level0Gid',
 'level0Name',
 'level1Gid',
 'level1Name',
 'level2Gid',
 'level2Name',
 'iucnRedListCategory',
 'month_name']

In [5]:
nan_cols = []
for col in obs.columns:
    if ( obs[ col ].isnull().all() ):
        nan_cols.append( col )
nan_cols

[]

In [7]:
obs['identifier'].head() # iNaturalist identifiers

0     1897201
1     6999380
2     9174531
3    10944119
4    12071576
Name: identifier, dtype: int64

In [9]:
obs['license'].head() # unnecessary

0    CC_BY_NC_4_0
1    CC_BY_NC_4_0
2    CC_BY_NC_4_0
3    CC_BY_NC_4_0
4    CC_BY_NC_4_0
Name: license, dtype: object

In [10]:
obs = obs.drop('license', axis=1 )

In [12]:
obs['modified'].head() # timestamp redundant/unnecessary

0    2020-09-08T19:04:31Z
1    2017-07-10T23:00:52Z
2    2021-07-31T14:56:10Z
3    2018-04-15T04:35:07Z
4    2021-07-31T14:56:10Z
Name: modified, dtype: object

In [13]:
obs = obs.drop('modified', axis=1 )

In [16]:
obs['references'].head() # iNaturalist URL - /observations/$identifier
# this url should be able to be recreated easily from 'identifier' column
# How can I verify this with an assert statement?

0     https://www.inaturalist.org/observations/1897201
1     https://www.inaturalist.org/observations/6999380
2     https://www.inaturalist.org/observations/9174531
3    https://www.inaturalist.org/observations/10944119
4    https://www.inaturalist.org/observations/12071576
Name: references, dtype: object

In [42]:
obs['references'].equals(
    'https://www.inaturalist.org/observations/' +  obs['identifier'].astype(str)
)

True

In [43]:
# We've verififed that we can get rid of the 'references' column without data-loss
obs = obs.drop('references', axis=1)

In [44]:
obs['rightsHolder'].head()

0              Mike Leveille
1          Django Grootmyers
2    Carlos G Velazco-Macias
3                     Nikola
4    Carlos G Velazco-Macias
Name: rightsHolder, dtype: object

In [45]:
obs = obs.drop('rightsHolder', axis=1)

In [47]:
obs['occurrenceID'].head()

0           http://inaturalist.ca/observations/1897201
1     https://www.inaturalist.org/observations/6999380
2     https://www.inaturalist.org/observations/9174531
3    https://www.inaturalist.org/observations/10944119
4    https://www.inaturalist.org/observations/12071576
Name: occurrenceID, dtype: object

In [49]:
# occurrenceID is similar to 'references' but uses the regional endpoints
obs = obs.drop('occurrenceID', axis=1)

In [50]:
obs['catalogNumber'].head()

0     1897201
1     6999380
2     9174531
3    10944119
4    12071576
Name: catalogNumber, dtype: int64

In [51]:
obs['catalogNumber'].equals( obs['identifier'])

True

In [52]:
obs = obs.drop( 'catalogNumber', axis=1 )

In [53]:
obs['recordedBy'].head()

0              Mike Leveille
1          Django Grootmyers
2    Carlos G Velazco-Macias
3                     Nikola
4    Carlos G Velazco-Macias
Name: recordedBy, dtype: object

In [54]:
obs.drop( 'recordedBy', axis=1 )

,gbifID,identifier,eventDate,eventTime,year,month,day,verbatimEventDate,countryCode,stateProvince,...,lastParsed,repatriated,level0Gid,level0Name,level1Gid,level1Name,level2Gid,level2Name,iucnRedListCategory,month_name
0,2862378302,1897201,2015-08-27T00:00:00,NaN,2015,8,27,2015-08-27,CA,Ontario,...,2022-11-25T04:48:22.297Z,False,CAN,Canada,CAN.9_1,Ontario,CAN.9.35_1,Ottawa,NE,August
1,1572388850,6999380,2015-07-02T00:00:00,NaN,2015,7,2,2015-07-02,US,Maine,...,2022-11-25T04:49:53.527Z,False,USA,United States,USA.20_1,Maine,USA.20.3_1,Cumberland,NE,July
2,1944424565,9174531,2017-12-02T09:20:47,09:20:47+06:00,2017,12,2,2017-12-02 9:20:47 a. m. GMT-06:00,MX,Nuevo León,...,2022-11-25T04:50:34.751Z,False,MEX,México,MEX.19_1,Nuevo León,MEX.19.26_2,Higueras,NE,December
3,1838337501,10944119,2014-06-16T00:00:00,NaN,2014,6,16,2014-06-16,ZA,Western Cape,...,2022-11-25T04:51:08.182Z,True,ZAF,South Africa,ZAF.9_1,Western Cape,ZAF.9.3_1,City of Cape Town,NE,June
4,1841319995,12071576,2018-04-30T13:55:00,13:55:00-05:00,2018,4,30,2018/04/30 1:55 PM CDT,MX,Nuevo León,...,2022-11-25T04:51:24.861Z,False,MEX,México,MEX.19_1,Nuevo León,MEX.19.24_2,Guadalupe,NE,April
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1426876,1990456034,17624326,2018-10-18T13:14:34,13:14:34-04:00,2018,10,18,2018-10-18 1:14:34 PM EDT,US,Ohio,...,2022-11-25T05:39:07.446Z,False,USA,United States,USA.36_1,Ohio,USA.36.78_1,Summit,NE,October
1426877,2238782188,20383014,2019-02-14T11:10:00,11:10:00+01:00,2019,2,14,2019/02/14 11:10 AM CET,DE,Berlin,...,2022-11-25T05:40:28.526Z,True,DEU,Germany,DEU.3_1,Berlin,DEU.3.1_1,Berlin,NE,February
1426878,2235490854,21757469,2019-03-29T18:48:12,18:48:12-05:00,2019,3,29,Fri Mar 29 2019 18:48:12 GMT-0500 (CDT),US,Wisconsin,...,2022-11-25T05:41:05.628Z,False,USA,United States,USA.50_1,Wisconsin,USA.50.10_1,Clark,NE,March
1426879,2294422105,26516917,2019-06-06T13:06:30,13:06:30-07:00,2019,6,6,Thu Jun 06 2019 13:06:30 GMT-0700 (PDT),US,Oregon,...,2022-11-25T05:43:04.458Z,False,USA,United States,USA.38_1,Oregon,USA.38.15_1,Jackson,NE,June
1426880,2634260411,30231608,2019-08-05T14:12:00,14:12:00+05:00,2019,8,5,2019/08/05 2:12 PM +05,RU,Khanty-Mansiy,...,2022-11-25T05:44:49.655Z,True,RUS,Russia,RUS.30_1,Khanty-Mansiy,RUS.30.13_1,Nizhnevartovskiy rayon,NE,August

## Time

In [55]:
obs['eventDate'].head()

0    2015-08-27T00:00:00
1    2015-07-02T00:00:00
2    2017-12-02T09:20:47
3    2014-06-16T00:00:00
4    2018-04-30T13:55:00
Name: eventDate, dtype: object

In [56]:
obs['eventTime'].head()

0               NaN
1               NaN
2    09:20:47+06:00
3               NaN
4    13:55:00-05:00
Name: eventTime, dtype: object

In [57]:
obs['year'].head()

0    2015
1    2015
2    2017
3    2014
4    2018
Name: year, dtype: int64

In [58]:
obs['month'].head()

0     8
1     7
2    12
3     6
4     4
Name: month, dtype: int64

In [59]:
obs['day'].head()

0    27
1     2
2     2
3    16
4    30
Name: day, dtype: int64

In [60]:
obs['verbatimEventDate'].head()

0                            2015-08-27
1                            2015-07-02
2    2017-12-02 9:20:47 a. m. GMT-06:00
3                            2014-06-16
4                2018/04/30 1:55 PM CDT
Name: verbatimEventDate, dtype: object

In [61]:
obs = obs.drop( 'verbatimEventDate', axis=1 )

## Location

In [62]:
obs['countryCode'].head()

0    CA
1    US
2    MX
3    ZA
4    MX
Name: countryCode, dtype: object

In [63]:
obs['stateProvince'].head()

0         Ontario
1           Maine
2      Nuevo León
3    Western Cape
4      Nuevo León
Name: stateProvince, dtype: object

In [64]:
obs['verbatimLocality'].head()

0                Macoun Marsh, Ottawa
1                   Casco, Maine, USA
2    Unnamed Road, Nuevo León, México
3                          Wedderwill
4             Guadalupe, N.L., México
Name: verbatimLocality, dtype: object

In [65]:
obs = obs.drop( 'verbatimLocality', axis=1 )

In [66]:
obs['decimalLatitude'].head()

0    45.445945
1    43.970350
2    25.933413
3   -34.110000
4    25.627567
Name: decimalLatitude, dtype: float64

In [71]:
obs[ obs['decimalLatitude'].isnull() ]

,gbifID,identifier,recordedBy,eventDate,eventTime,year,month,day,countryCode,stateProvince,...,lastParsed,repatriated,level0Gid,level0Name,level1Gid,level1Name,level2Gid,level2Name,iucnRedListCategory,month_name
150,2898287431,55652540,roalan,2020-08-05T12:05:29,12:05:29-04:00,2020,8,5,NaN,NaN,...,2022-11-25T05:04:26.111Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NE,August
348,2460155327,35703317,stephaniemartin,2019-11-15T09:25:04,09:25:04Z,2019,11,15,NaN,NaN,...,2022-11-25T04:58:03.270Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NE,November
466,3044775457,38350939,mattsteiger,2020-02-05T17:44:00,17:44:00Z,2020,2,5,NaN,NaN,...,2022-11-25T05:44:50.866Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NE,February
601,2988552421,65247874,jdcohenesq,2020-11-02T00:00:00,NaN,2020,11,2,NaN,NaN,...,2022-11-25T05:07:07.098Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LC,November
741,1144979010,2125594,kevinhintsa,2007-01-09T16:08:03,16:08:03-08:00,2007,1,9,NaN,NaN,...,2022-11-25T04:48:23.470Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NE,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424722,3391550963,97905668,Alison Lake,2021-10-11T12:19:24,12:19:24-04:00,2021,10,11,NaN,NaN,...,2022-11-25T06:00:47.669Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LC,October
1424858,2251830059,21533322,samanthaeff,2019-03-17T12:33:37,12:33:37-04:00,2019,3,17,NaN,NaN,...,2022-11-25T04:53:59.090Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NE,March
1425009,2814269209,52299195,Виктория Билоус,2020-07-07T00:00:00,NaN,2020,7,7,NaN,NaN,...,2022-11-25T05:03:10.181Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LC,July
1425434,3966415072,141810007,mamahen90,2017-10-01T12:29:00,12:29:00-05:00,2017,10,1,NaN,NaN,...,2022-11-25T06:12:19.876Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,October
1426742,2265909511,7996628,D.J. McNeil,2017-05-26T09:45:00,09:45:00-04:00,2017,5,26,NaN,NaN,...,2022-11-25T05:40:21.662Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NE,May

In [72]:
# Should I or can I impute the lat and long for these missing values?